body {
	font-family: 'Nunito', 'Open Sans', sans-serif;
}

h1,
h2,
p,
a {
	text-align: center;
}

p {
	color: #444;
}

h1 {
	margin-top: 100px;
	font-size: 7em;
	margin-bottom: 0px;
}

h2 {
	margin-top: 0px;
	font-size: 3em;
}

.long {
	margin-left: 10px;
	margin-right: 10px;
}

img {
	margin-top: 20px;
	border-radius: 10%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	cursor: pointer;
}

.force-square-image {
	aspect-ratio: 1;
}

#project-container {
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 50px;
	margin-bottom: 60px;

	display: grid;
	/*grid-template-columns: repeat(auto-fit, 107px);*/
	grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
	grid-column-gap: 40px;
	grid-row-gap: 40px;
	justify-content: center;
}

.project {
	/*border: solid 1.5px lightgrey;*/
	box-shadow: grey 0px 0px 4px 0px;
	/* border-radius: 12%; */
	border-radius: 67.2px;
	text-align: center;

	transition: 0.6s;
	transform: scale(1);
}

.project:hover {
	transform: scale(1.05);
}